
/* Start Button Styles */
button {
    padding: 10px 20px;
    font-size: 100px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 15px #666; 
}

button:hover {
    background-color: lightgreen; 
}

button:active {
    background-color: limegreen;
    box-shadow: 0 5px limegreen; 
    transform: translateY(4px);
    color: darkblue;
}
